body,
html {
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
}

.grid {
  display: grid;
}

.grid-gap {
  column-gap: 16px;
}

.grid-row-gap {
  row-gap: 16px;
}

.flex-dir-row {
  flex-direction: row;
}

.col-20x60x20 {
  grid-template-columns: 20% 60% 20%;
}

.col-50x50 {
  grid-template-columns: 50% 50%;
}

.col-70x30 {
  grid-template-columns: 70% 30%;
}

.col-auto-3x {
  grid-template-columns: auto auto auto;
}

.col-auto-4x {
  grid-template-columns: auto auto auto auto;
}

.col-auto-6x {
  grid-template-columns: auto auto auto auto auto auto;
}

.header-item {
  height: 48px;
  display: block;
}

.card-item {
  height: 100px;
}

.flex-container {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.icon {
  width: 16px;
  margin-right: 16px;
}

.width100 {
  width: 100%;
}

.width-20 {
  width: 30%;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.btn {
  background-color: #567b95;
  border: 0;
  padding: 8px;
  color: #fff;
}

.light-text {
  color: #999;
}

.margin-auto {
  margin: auto;
}

.border-top {
  border-top: 1px solid #000;
}

.mid-line {
  display: block;
  width: 10%;
  border-top: 1px solid #000;
}

.margin-y-16 {
  padding: 50px 0;
}

.margin-bottom {
  margin-bottom: 48px;
}

.text-center {
  text-align: center;
}

li {
  list-style: none;
}

.social {
  margin: 16px 0;
}

.social li {
  margin-right: 16px;
}

.social i {
  background: #ccc;
  padding: 9px;
  border-radius: 50%;
}

.text-end {
  text-align: right;
}

.border-bottom {
  border-bottom: 1px solid #ccc;
}

.border-y {
  border: 1px solid #000;
}

.padding-y-24 {
  padding: 24px 0;
}

.most-popular li {
  padding: 24px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid;
}

.fs-2 {
  font-size: 2.5rem;
}

.fs-italic {
  font-style: italic;
}

.logo {
  width: 195px;
}

ul {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0 32px;
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.text-content {
  padding: 0 164px 0 164px;
}

img {
  width: 100%;
}

iframe {
  width: 100%;
  height: 315px;
}

.display-top {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
}

.display-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #fff;
}

.float-right {
  float: right;
}

.clearance {
  margin-top: 86px;
}

aside {
  width: 200px;
}

.fs-small {
  font-size: 12px;
}

.display-relative {
  position: relative;
}

.display-abs {
  position: inherit;
}

.bg-img {
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.img-1 {
  background-image: url(assets/1.png);
}

.img-2 {
  background-image: url(assets/2.png);
}

.img-3 {
  background-image: url(assets/3.png);
}

.img-4 {
  background-image: url(assets/4.png);
}

.img-5 {
  background-image: url(assets/5.png);
}

.img-6 {
  background-image: url(assets/6.png);
}

.img-7 {
  background-image: url(assets/7.png);
}

.img-8 {
  background-image: url(assets/8.png);
}

footer .grid a {
  text-decoration: none;
  font-size: 14px;
}

footer h3 {
  line-height: 0;
}

.special {
  border-left: 1px solid #ccc;
  padding: 0 0 0 16px;
}
